:root {
  --f-color: black;
  --f-slineheight: 20px;
  --f-smlineheight: 28px;
  --f-mlineheight: 32px;
  --f-ssize: 16px;
  --f-msize: 20px;
  --f-lsize: 24px;
  --f-xsweight: 400;
  --f-sweight: 500;
  --f-mweight: 600;
  --f-blue: #2196f3;
}

body {
  background: #e5e5e5;
}

header {
  background: #fff;
  border: 1px solid #dfdfdf;
}

.nav-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 22px;
}

.nav-wrap .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-wrap .nav .event {
  margin-right: 50px;
}

.nav-wrap .nav .nav__item {
  color: var(--f-color);
  font-size: var(--f-xssize);
  line-height: var(--f-slineheight);
  font-weight: var(--f-sweight);
  text-decoration: none;
  position: relative;
}

.nav-wrap .nav .active {
  color: var(--f-blue);
}

.nav-wrap .nav .active::before {
  content: "";
  background: var(--f-blue);
  height: 4px;
  position: absolute;
  top: 40px;
  width: 128px;
}

.nav-wrap .nav :nth-child(1) {
  position: relative;
}

.material-icons {
  height: 8px;
  margin-left: 4px;
  position: absolute;
  width: 14px;
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--f-blue);
  font-size: var(--f-xsize);
  font-weight: var(--f-mweight);
  line-height: var(--f-mlineheight);
  text-decoration: none;
}

.aside {
  padding: 32px 0 0 25px;
}

.aside ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.aside__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #979797;
  font-size: var(--f-ssize);
  line-height: var(--f-slineheight);
  font-weight: var(--f-sweight);
}

.aside__link {
  padding: 16px 8px;
  margin-bottom: 4px;
}

.aside__link--text {
  font-size: var(--f-ssize);
  line-height: var(--f-slineheight);
  font-weight: var(--f-xsweight);
  color: #b6b6b6;
  text-decoration: none;
  padding: 16px 8px;
}

.aside__link .active {
  color: #000;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  font-weight: var(--f-mweight);
  padding: 16px 8px;
}

.choosetitle {
  color: var(--f-color);
  font-size: var(--f-lsize);
  line-height: var(--f-mlineheight);
  font-weight: var(--f-xsweight);
  margin-top: 48px;
  margin-bottom: 24px;
}

.typecard {
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  margin-bottom: 49px;
  padding-left: 9px;
  padding-right: 9px;
}

.typecard .typeform-radio {
  border-bottom: 1px solid #dfdfdf;
  margin: auto;
}

.typecard .typeradio-title-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.typecard .typeradio-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.typecard .type-radio-title {
  color: var(--f-color);
  font-size: var(--f-msize);
  line-height: var(--f-mlineheight);
  font-weight: var(--f-mweight);
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.typecard .type-radio-number {
  color: var(--f-blue);
  font-size: var(--f-msize);
  font-weight: var(--f-xsweight);
  line-height: var(--f-mlineheight);
}

.typecard .typeradio-text {
  color: var(--f-color);
  font-size: var(--f-ssize);
  font-weight: var(--f-xsweight);
  line-height: var(--f-smlineheight);
  margin-bottom: 24px;
  margin-top: 24px;
}

/*input[type="radio"]:checked .typecard {
  box-shadow: 0 0 0 3px orange;
}*/
/*.radio-label {
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  margin-bottom: 49px;
  padding-left: 9px;
  padding-right: 9px;
}*/
/*label:checked + .typecard {
  border: 5px solid red;
}*/
/*:checked + .label {

  font-weight: bold;
  border: 5px solid red;
}
*/
.card-img {
  display: none;
}

.next-wrap {
  border: 1px solid #dfdfdf;
  background: #fff;
  padding: 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background: var(--f-blue);
  border: 0;
  color: #fff;
  height: 52px;
  font-size: var(--f-ssize);
  font-weight: var(--f-mweight);
  line-height: var(--f-slineheight);
  padding: 16px 60px 16px 32px;
  position: relative;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
}

.btn span {
  position: absolute;
  bottom: 30px;
  right: 35px;
}

.btn span:hover {
  cursor: pointer;
}

.input {
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  color: var(--f-color);
  font-size: var(--f-ssize);
  font-weight: var(--f-xsweight);
  line-height: var(--f-ssize);
  height: 54px;
  width: 100%;
  padding: 16px;
  text-align: left;
}

.info-wrap {
  padding-left: 48px;
  padding-right: 48px;
}

.typecard--info {
  padding: 0;
}

.first-wrap {
  border-bottom: 1px solid #dfdfdf;
  padding-top: 37px;
  padding-bottom: 24px;
}

.info-text {
  color: var(--f-color);
  font-size: var(--f-ssize);
  font-weight: var(--f-sweight);
  line-height: var(--f-msize);
  text-align: left;
}

.info-text--weight {
  font-weight: var(--f-xsweight);
}

.info-text--mb {
  margin-bottom: 7px;
}

.info-text--mailmt {
  margin-top: 29px;
}

.info-text--companymt {
  margin-top: 43px;
}

.typeradio-title--info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-b {
  margin-bottom: 24px;
}

@media screen and (min-width: 992px) {
  header {
    padding-left: 322px;
    padding-right: 322px;
  }
  .next-wrap {
    padding-right: 336px;
  }
  .cardimg-wrap {
    margin: 48px 48px 0 33px;
  }
  .card-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=App.css.map */